
    <table cellspacing="0" cellpadding="8">
        <tr>
                <td align="left" valign="top">

                <h3 align="left"> What is a MUD? </h3>
                <p>
                A MUD (Multi-User Dungeon) is the old term for a text-based online game. Today, most people call
                these types of games MMORPG (Massively Multi-player Online Role Playing Game). We've chosen to use
                the more 'old school' term to label our Naruto MUD as a MUD.
                </p>
                <h3 align="left"> What is Naruto MUD? </h3>
                <p>
                NarutoMUD is a Naruto MUD. It is based off the anime Naruto, which is based off the manga Naruto by 
                Kishimoto Masashi. NarutoMUD is one of the first Naruto themed MUDs to ever exist. NarutoMUD became open to
                players on December 1st, 2004. Some Naruto MUDs have come and gone since then, but NarutoMUD has stuck around
                proving that an anime themed MUD can be quality and last!
                </p>
                <h3 align="left"> Does NarutoMUD cost money to play? </h3>
                <p>
                NarutoMUD has been and will forever be free to play!
                </p>
                <h3 align="left"> How can I play? </h3>
                <p>
                Good question! If you want to play this fun-filled Naruto MUD, you have a couple options! 
                You can navigate to our <a href="/play.php">"Play&nbsp;Now!"</a> page or you can use your own MUD client and connect to us
                at http://narutofor.us port 4545! Either way will let you play! We hope to adventure with you soon!
                </p>
                <h3 align="left"> If I'm new to NarutoMUD, is there any guides to help me? </h3>
                <p>
                Of course! This website is full of helpful resources to get you going on NarutoMUD!
                The <a href="/resources.php">"Resources"</a> tab is full of resources on how to play the game, including helpfile information and
                maps of the game!
                </p>		
                </td>
        </tr>
    </table>