
	 
<table cellspacing="0" cellpadding="8">
    <tr>
        <td align="left" valign="top">
            <b><u>We Recommended These Sites:</u></b><br /><br />
            <a href="http://apps.facebook.com/narutomud_game/">NarutoMUD's Facebook App</a> Play NarutoMUD from Facebook with this Facebook App! <br />
            <a href="http://twitter.com/NarutoMUD/">NarutoMUD's Twitter</a> Follow NarutoMUD's activity on Twitter!<br />
            <a href="http://www.mudmagic.com/">MudMagic.Com</a> Our host provider website: forums, 
            polls, discussions, listings, hosting and more.<br />
            <a href="http://www.mudconnect.com/">MUDconnector.com</a> A great site to find lots of quality MUDs
            along with voting for us to increase our rank on their listing!<br />
            <a href="http://www.gameaxle.com/">Portal</a> The preferred method of connecting to NarutoMUD<br />
            <a href="http://hulu.com/">Hulu</a> Watch <a href="http://hulu.com/naruto">Naruto</a> and <a href="http://hulu.com/naruto-shippuden">Naruto: Shippuden</a> for free over at Hulu. <br />
            <a href="/SCBB"> Super Cyber Battle Bots </a> The legendary browser game Super Cyber Battle Bots! <br />
            <a href="http://www.biyg.org/"> Bleached Inuyasha Galaxy </a> A high quality MUD you also might enjoy if you like NarutoMUD! <br />
        </td>
    </tr>
</table>