
    <table cellspacing="0" cellpadding="8">
         <tr>
             <td align="left" valign="top">
                 <h3>Special Thanks From Owner</h3>
                     Thanks go out to the following individuals who help us out on a daily basis. Without
                     their support, this game would not be what it currently is. The Immortals and the
                     players help make the MUD great. I feel like everyone, Immortals and players, make
                     a great team for making the MUD be everything we all want it to be.<br />																										 
                 <h3>The Immortals</h3>
                     The Staff on NarutoMUD has really helped make the best out of a dream of mine. Without
                     their passion for the MUD, NarutoMUD would have just been a crazy dream I had years ago.
                     Thanks guys! I'd like to also make a special note to thank the following Immortals, some
                     of which are no longer with us, for there hard work!
                     <br /><br />
                     <ul>
       <li> Daizaburo </li>	
                         <li> Heizo </li>
                         <li> Hikaru </li>
                         <li> Hitoshi </li>
                         <li> Kibachi </li>
                         <li> Komatsu </li>
                         <li> Nakamura </li>
                         <li> Ponnampi </li>
                         <li> Raos </li>
                         <li> Seigen </li>
                         <li> Taille </li>
                         <li> Takeru </li>
                         <li> Tiak </li>
                         <li> Zetsuke </li>
                     </ul>
                     You've all made me very proud to have had the honor of working along with you.
     
                <br />
         </td>
     </tr>
 </table>