.navbar
{
	margin-left: 18%;
	margin-right: 13%;
	top: 540px;
}

.tabbedmenu
{
	padding: 3px 0;
	margin-left: 0;				
	font: bold 12px Verdana;
	border-bottom: 2px groove #F16C0A;
	list-style-type: none;
	text-align: left;
}
.tabbedmenu ul {
/*	list-style: none; */

	margin: 0;
	padding: 0;
	float: left;
	}
.tabbedmenu li
{
	display: inline;
	position: relative;
	margin: 0;
}
.tabbedmenu li li
{
	display: block;
}
.tabbed menu li li:hover
{
	display: inline;
}

.tabbedmenu li a
{
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border: 3px double #CCCCCC;
	border-bottom: none;
	background-color: #000000;
	color: #FFFFFF;
}
		
.tabbedmenu li a:hover
{
	background-color: #F16C0A;
	color: black;
}

.tabbedmenu li a:active {color: #FFFFFF;}

.tabbedmenu li a.selected
{
	position: relative;
	top: 1px;
	padding-top: 4px;
	background-color: #F16C0A;
	color: white;
}
.tabbedmenu li.play-now, li.donate
{
	left: 20%;
	position: relative;
}

.twtr-widget 
{ 
	width: 200px; 
	margin: 0 auto; 
}

#Menu 
{
	position:absolute;
	width:95%;
	height:44px;
	z-index:3;
	left: 4px;
	top: 175px;
}
#Body 
{
	background-color: #F16C0A;
	color: black;
	position:relative;
	width:70%;
	height: auto;
	z-index:2;
	left: 18%;
	top: 189px;
	border: 1px solid #CC00FF;
}

.intro:first-letter
{
	background-color: black;
	border: 2px groove silver;
	font-size: 35px; 
	font-weight: bold;
	color: white;
	padding: 2px;
	float: left;
}
#affiliate
{
	position:absolute;
	width:18%;
	left: 4px;
	top: 219px;
	text-align:center;
	height: 256px;
}
#affiliate *.aff-title
{
  	font-size: 7px;
	color: #F16C0A;
	text-decoration: underline;
	text-align: center; 
}
#Sponsors
{
   border-top: 1px solid white;
   position: relative;
   float: none;
   display: block;
}

#Title {
	position: absolute;
	background-image: url("assets/images/NarutoMUD-Banner5.png");
	background-repeat: no-repeat;
	height: 92px; 
	width: 492px;
	left: 334px;
	top: 14px;
}

textarea
{
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #F16C0A;
	border-bottom: 1px solid #F16C0A;
}

input[type="text"]
{
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #F16C0A;
	border-bottom: 1px solid #F16C0A;
}

input[type="submit"], input[type="file"], input[type="button"]
{
	border: 1px solid #FF0066;
	color: white;
	background-color: black;
	font-weight: bold;
}

a
{
	color: white;
	text-decoration: underline;
}
a:visited
{
	color: black;
	text-decoration: underline;
}
a:hover
{
	text-decoration: none;
}
/* {font-family:Georgia, "Times New Roman", Times, serif;} */
