
			<!-- <table cellspacing="0" cellpadding="8">
				<tr>
					<td align="left" valign="top"> -->
						<p class="intro">Welcome to the webpage of NarutoMUD, one of the first Naruto themed MUDs in existence!</p>						
						<p>
							<br />
							We pride ourselves on serving up quality Naruto-style action with a lot of twists that will keep you entertained for hours and hours!
																<br />
						</p>
						<h3 align="left"> Don't know what NarutoMUD is? </h3>
						<p>
							Don't have any idea what this NarutoMUD thing is? Check out our 
						<a href="/whatisnarutomud">"FAQ"</a> tab!
						</p>
						<h1 align="left">Features of this site:</h1>
						<p>
							If you're already a player of NarutoMUD, you probably know what you're here for, otherwise, what sort of cool stuff can you find here? Glad you asked.
							<ul>
								
								<li> Ability to view <a href="/skills">skills for all villages!</a> </li>
								<li> Real time <a href="/arena">Arena rankings</a></li>
							</ul>
							<br />
							All this and more! If you like our website, the MUD is at least 2x more fun! <br /> Check us out
							at <font size="5"> <b> narutofor.us </b> </font> port <font size="5"> <b> 4545 </b></font> or
							<a href="https://discord.gg/PMyPmdkz8b">join us on Discord to chat!</a>!
						<!-- </p> -->
						<br /><br />
					<!-- </td>
				</tr>
			</table> -->
		
		